*{

    box-sizing: border-box;
    text-align: center;
    font-size: large;
    font-weight: bold;
    
    
}

body{
    background-color: rgb(33, 71, 153);
    color: #fff;
    display: flex;
	flex-direction: column;
	justify-content: center;










}
